<!DOCTYPE html>
<html>
<head>
  <link rel="css" href="styles.css">
</head>
<body>
  <nav>
    <ul class="navbar">
      <li><a href="#">Github</a></li>
      <li><a href="#">Models</a></li>
      <li><a href="#">Experience</a></li>
    </ul>
  </nav>
  <h1>My Portfolio</h1>
  <p>This is my portfolio page. I use it to showcase my work and skills.</p>
  <h2>My Work</h2>
  <ul>
    <li>I have worked on a variety of projects, including web development, mobile development, and data science.</li>
    <li>I am proficient in a variety of programming languages, including Python, SQL, and Bash.</li>
  </ul>
  <h2>My Skills</h2>
  <ul>
    <li>I am a highly skilled Machine Learning Engineer.</li>
    <li>I am also a highly skilled in Data Engineering.</li>
    <li>If you want to check my projects, please take a look to my Github account</li>
    <a href="https://github.com/MarceloGarcia92/NLP">Hello World with NLP techniques</a>
  </ul>
  <h2>Contact Me</h2>
  <p>You can contact me at <a href="mailto:mgarciaca@fen.uchile.cl">mgarciaca@fen.uchile.cl</a> or <a href="https://www.linkedin.com/in/marcelo-garcia-c/">LinkedIn</a>.</p>
</body>
</html>